#title,
.subtitle,
.post_title {
    color: blueviolet;
}

.post_title {
    font-size: 11px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
    margin: auto;
    padding: 4PX;
}

.post {
    background-color: aqua;
    margin: 1%;
    border: 2px solid;
    border-color: black;
    border-radius: 7px 7px;
    padding: 1%;
}